<!DOCTYPE html>
<html lang="tr">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
	<p style="display: none;">s</p>


	<div class="box__content">
		<div class="box__content-left-col">
			

			<div class="box__content-left-col-music">
				<div id="music-id" class="music-box">
					<button id="play">
						<ion-icon name="musical-notes-outline"></ion-icon>
					</button>
				</div>
				<div class="battery-box">
					<div class="battery-content">

					</div>
				</div>
			</div>
		</div>
		<div class="box__content-right-col">
			<div class="box__content-right-col-info">
				<h2>İletişim</h2>

				<ul>
					<li>
						<ion-icon name="person-outline"></ion-icon>
						<span>Ziya Yıldırım</span>
					</li>
					<li>
						<ion-icon name="call-outline"></ion-icon>
						<span>0535 869 09 80</span>
					</li>
					<li>
						<ion-icon name="mail-unread-outline"></ion-icon>
						<span class="mailName">zia.yildirimm@gmail.com</span>
					</li>
				</ul>

				<div class="social-media">
					<span>Takip Et :</span>

					<div class="social-media-icon">
					<a href=""><ion-icon name="logo-linkedin"></ion-icon></a>	
					<a href=""><ion-icon name="logo-instagram"></ion-icon></a>
					<a href="">	<ion-icon name="logo-twitter"></ion-icon></a>
					<a href="">	<ion-icon name="logo-whatsapp"></ion-icon></a>
					<a href=""><ion-icon name="logo-github"></ion-icon></a>
					</div>
				</div>
			</div>
		</div>
		<div class="box__content-bottom-col">
			<div class="box__content-bottom-col-contact">
				<form id="form" class="form" action="https://getform.io/f/d3c50f23-6399-4348-b36f-0dbc7401e195">

					<div class="form-control">
						<input type="text" attr="İsim" id="username" name="name" placeholder="İsim Ve Soyisim"/>
						<small>Error Message</small>
					</div>
					<div class="form-control">
						<input type="text" attr="Email" id="email" placeholder="Email"/>
						<small>Error Message</small>
					</div>
					<div class="form-control">
						<input type="tel" attr="Telefon Numarası" name="tel" id="tel" placeholder="Telefon Numarası"/>
						<small>Error Message</small>
					</div>
					<div class="form-control">
						<textarea type="text" id="message" placeholder="Lütfen Mesajınızı yazınız.." name="Message"></textarea>
						<small>Error Message</small>
					</div>		
					<button class="btn">Gönder</button> 	
				</form>					
			</div>
		</div>
	</div>
	<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>

</body>

</html>