@import "./reset.scss";
@import "./variables.scss";

body,
html {
  background-color: pink;
	height: 100vh;
	font-family: Arial, Helvetica, sans-serif;

  p {
    color: yellow;
  }
}

.box__content {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-areas:
    "leftCol rightCol rightCol"
    "leftCol rightCol rightCol"
    "leftCol bottomCol bottomCol"
    "leftCol bottomCol bottomCol";

  &-left-col {
    background-color: $leftBackground;
		grid-area: leftCol;
		position: relative;
		
		&-music {
			position: absolute;
			bottom: 10px;
			left: 10px;

			.music-not::after{
				content: '';
				width: 2px;
				height: 27px;
				display: block;
				position: absolute;
				left: 22px;
				top: 2px;
				transform: skew(-45deg);
				background-color: $rightBackground;
			}
			


			button {
				background: transparent;
				cursor: pointer;
				ion-icon {
					font-size: 30px;
					color: $rightBackground;
				}
			}
		}
	}
	
  &-right-col {
    background-color: $rightBackground;
		grid-area: rightCol;
		display: flex;
    align-items: center;
		
		&-info {
			margin-left: 12%;

			h2 {
				font-family: Poppins;
				text-transform: uppercase;
				font-size: 2em;
				margin-bottom: 20px;
				letter-spacing: 3px;
				color: $titleColor;
			}

			ul li {
				display: flex;
				align-items: center;
				line-height: 1.6;
				color: $contentColor;

				span {
					text-indent: 15px;
					font-size: 17px;
					font-family: Poppins;
					text-transform: uppercase;
					letter-spacing: 4px;

					&.mailName {
						text-transform: inherit;
					}
				}
			}


			.social-media {
				margin-top: 40px;
				span {
					font-family: Poppins;
					text-transform: uppercase;
					letter-spacing: 4px;
					font-size: 12px;
					color: $followTextColor;
				}

				.social-media-icon {
					margin-top: 10px;
					a{
						padding-right: 10px;
						color: $contentColor;

						ion-icon {
							font-size: 18px;
						}
					}
				}
			}

			ion-icon {
				font-size: 20px;
			}
		}
	}
	
  &-bottom-col {
    background-color: green;
		grid-area: bottomCol;
		background: url('/src/assets/kalem.jpeg');
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		display: flex;
		align-items: center;
		justify-content: center;

		&-contact {
			width: 400px;
			padding: 20px;
			.form-control {
				display: flex;
				flex-direction: column;
				&.error {
					small {
						visibility: visible;
					}
					
					input ,textarea{
						border-color: red !important;
					}
				}

				&.success {
					input, textarea{
						border-color: #2ecc71 !important;
					}	
				}
				
				small {
					color: red;
					margin-top: 5px;
					text-indent: 2px;
					font-size: 10px;
					visibility: hidden;
				}

			}

			.form {
				input[type="text"],textarea, #tel{
					border-bottom: 1px solid  $contentColor;
					padding:10px;
					background-color: transparent;
					color: $contentColor;
					
					&::placeholder {
						color: $contentColor;
					}
				}

	
				textarea {
					height: 80px;
					resize: none;
				}



				.btn {
					border: none;
					margin-top: 15px;
					padding: 10px;
					width: 100%;
					background-color: $titleColor;
					color: $contentColor;
					text-transform: uppercase;
					letter-spacing: 5px;
					font-weight: bold;
					border-radius: 25px;
					cursor: pointer;
				}
			}
		}


  }
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px $contentColor inset;
  transition: background-color 5000s ease-in-out 0s;
}

